#face {
  margin-top: 40px;

}

#logo {
  margin-top: 85px;
}

button {
  background-color: #D0484A;
  width: 100px;
  text-align: center;
  vertical-align: center;
  padding: 2px 12px;
  margin-bottom: 25px;
  color: white;
}

h1 {
  font-size: 1em;
  text-align: center;
}

.row {
  text-align: center;
}

img {
  margin: auto;
}

input {
  text-align: center;
}

.css-form input.ng-valid {
    background-color: #78FA89;
  }

#generate, #reset {
  background-color: #D0484A;
  float: right;
  color: white;
  margin-top: 10px;
}

#generate {
  width: 200px;
}

.outputView {
  margin-top: 80px;
}

.line {
  display: inline-block;
  border-bottom: 2px solid black;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
}
