#face {
  margin-top: 40px;

}

#logo {
  margin-top: 85px;
}

button {
  background-color: lightblue;
  width: 100px;
  text-align: center;
  vertical-align: center;
  padding: 2px 12px;
  margin-bottom: 25px;
}

h1 {
  font-size: 1em;
  text-align: center;
}

.row {
  text-align: center;
}

img {
  margin: auto;
}

input {
  text-align: center;
}

#output {
  margin-top: 20px;
}
